/*===================
  Theme sombre v1.6
===================*/

/* Couleur */

:root {
  --darkmode-color1: #121212;
  --darkmode-color2: #202020;
  --darkmode-color3: #2F2E38;
  --darkmode-color4: #4D4C5D;
  --darkmode-color5: #131A20;
  --darkmode-color8: #A7ABC3;
  --darkmode-color9: #C2C5D6;
}



/* Surcharge des tableaux*/



.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  background-color: transparent; }
  .table th,
  .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #454d55; }
  .table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #454d55; }
  .table tbody + tbody {
    border-top: 2px solid #454d55; }

.table-sm th,
.table-sm td {
  padding: 0.3rem; }

.table-bordered {
  border: 1px solid #454d55; }
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #454d55; }
  .table-bordered thead th,
  .table-bordered thead td {
    border-bottom-width: 2px; }

.table-borderless th,
.table-borderless td,
.table-borderless thead th,
.table-borderless tbody + tbody {
  border: 0; }

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f7f8fa; }

.table-hover tbody tr:hover {
  color: #212529;
  background-color: #fafbfc; }

.table-primary,
.table-primary > th,
.table-primary > td {
  background-color: #d0d4f5; }

.table-primary th,
.table-primary td,
.table-primary thead th,
.table-primary tbody + tbody {
  border-color: #a8b0ed; }

.table-hover .table-primary:hover {
  background-color: #bbc1f1; }
  .table-hover .table-primary:hover > td,
  .table-hover .table-primary:hover > th {
    background-color: #bbc1f1; }

.table-secondary,
.table-secondary > th,
.table-secondary > td {
  background-color: #f7f7fb; }

.table-secondary th,
.table-secondary td,
.table-secondary thead th,
.table-secondary tbody + tbody {
  border-color: #efeff7; }

.table-hover .table-secondary:hover {
  background-color: #e6e6f3; }
  .table-hover .table-secondary:hover > td,
  .table-hover .table-secondary:hover > th {
    background-color: #e6e6f3; }

.table-success,
.table-success > th,
.table-success > td {
  background-color: #c0f0eb; }

.table-success th,
.table-success td,
.table-success thead th,
.table-success tbody + tbody {
  border-color: #89e3da; }

.table-hover .table-success:hover {
  background-color: #abebe4; }
  .table-hover .table-success:hover > td,
  .table-hover .table-success:hover > th {
    background-color: #abebe4; }

.table-info,
.table-info > th,
.table-info > td {
  background-color: #cfd9f9; }

.table-info th,
.table-info td,
.table-info thead th,
.table-info tbody + tbody {
  border-color: #a7b9f5; }

.table-hover .table-info:hover {
  background-color: #b8c7f6; }
  .table-hover .table-info:hover > td,
  .table-hover .table-info:hover > th {
    background-color: #b8c7f6; }

.table-warning,
.table-warning > th,
.table-warning > td {
  background-color: #ffebc1; }

.table-warning th,
.table-warning td,
.table-warning thead th,
.table-warning tbody + tbody {
  border-color: #ffda8c; }

.table-hover .table-warning:hover {
  background-color: #ffe3a8; }
  .table-hover .table-warning:hover > td,
  .table-hover .table-warning:hover > th {
    background-color: #ffe3a8; }

.table-danger,
.table-danger > th,
.table-danger > td {
  background-color: #fec8da; }

.table-danger th,
.table-danger td,
.table-danger thead th,
.table-danger tbody + tbody {
  border-color: #fe98ba; }

.table-hover .table-danger:hover {
  background-color: #feafc9; }
  .table-hover .table-danger:hover > td,
  .table-hover .table-danger:hover > th {
    background-color: #feafc9; }

.table-light,
.table-light > th,
.table-light > td {
  background-color: #fdfdfe; }

.table-light th,
.table-light td,
.table-light thead th,
.table-light tbody + tbody {
  border-color: #fbfcfc; }

.table-hover .table-light:hover {
  background-color: #ececf6; }
  .table-hover .table-light:hover > td,
  .table-hover .table-light:hover > th {
    background-color: #ececf6; }

.table-dark,
.table-dark > th,
.table-dark > td {
  background-color: #c6c8ca; }

.table-dark th,
.table-dark td,
.table-dark thead th,
.table-dark tbody + tbody {
  border-color: #95999c; }

.table-hover .table-dark:hover {
  background-color: #b9bbbe; }
  .table-hover .table-dark:hover > td,
  .table-hover .table-dark:hover > th {
    background-color: #b9bbbe; }

.table-active,
.table-active > th,
.table-active > td {
  background-color: var(--primary); }

.table-hover .table-active:hover {
  background-color: #4354d9; }
  .table-hover .table-active:hover > td,
  .table-hover .table-active:hover > th {
    background-color: #4354d9; }

.table .thead-dark th {
  color: #fff;
  background-color: #343a40;
  border-color: #454d55; }

.table .thead-light th {
  color: #6c7293;
  background-color: #454d55;
  border-color: #454d55; }

.table-dark {
  color: #fff;
  background-color: #343a40; }
  .table-dark th,
  .table-dark td,
  .table-dark thead th {
    border-color: #454d55; }
  .table-dark.table-bordered {
    border: 0; }
  .table-dark.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, 0.05); }
  .table-dark.table-hover tbody tr:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.075); }















/* Surcharge user agent */

input {
  color: var(--darkmode-color8);
  background-color: var(--darkmode-color1);
}

::-webkit-calendar-picker-indicator {
  filter: invert(75%) sepia() saturate(6000%) hue-rotate(200deg)
}



/* Surcharge login.css */

.kt-login.kt-login--v1 .kt-login__wrapper {
  background-color: var(--darkmode-color1) !important;
}



/* Surcharge style.bundle.css */

body {
  color: var(--darkmode-color8);
  background-color: var(--darkmode-color1);
}

#kt_aside_brand,
#kt_aside_menu {
  background-color: var(--darkmode-color5);
}

.kt-aside-menu .kt-menu__nav > .kt-menu__section .kt-menu__section-text {
  color: var(--darkmode-color8);
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--open > .kt-menu__heading,
.kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--open > .kt-menu__link {
  background-color: var(--darkmode-color5);
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item.kt-menu__item--active > .kt-menu__heading,
.kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item.kt-menu__item--active > .kt-menu__link {
  background-color: var(--darkmode-color5);
}

.kt-aside .kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--here > .kt-menu__link:after,
.kt-aside .kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--active > .kt-menu__link:after {
  border-color: transparent var(--darkmode-color1) transparent transparent !important;
}

.kt-user-card {
  background-color: var(--darkmode-color1);
}

.kt-notification .kt-notification__custom {
  border-color: var(--darkmode-color3);
}

.kt-user-card.kt-user-card--skin-light .kt-user-card__name {
  color: var(--darkmode-color9);
}

.kt-head.kt-head--skin-light {
  background-color: var(--darkmode-color1);
}

.kt-portlet {
  background-color: var(--darkmode-color2);
}

.card {
  background-color: var(--darkmode-color2);
}

.kt-datatable > .kt-datatable__table {
  background-color: var(--darkmode-color2);
}

.kt-footer {
  background-color: var(--darkmode-color2);
}

.kt-datatable > .kt-datatable__table > .kt-datatable__head .kt-datatable__row,
.kt-datatable > .kt-datatable__table > .kt-datatable__body .kt-datatable__row,
.kt-datatable > .kt-datatable__table > .kt-datatable__foot .kt-datatable__row {
  border-bottom-color: var(--darkmode-color1);
}

.kt-datatable > .kt-datatable__pager > .kt-datatable__pager-info .kt-datatable__pager-size .btn.dropdown-toggle {
  background-color: var(--darkmode-color1);
}

.kt-portlet .kt-portlet__head {
  border-bottom-color: var(--darkmode-color3);
}

.table-bordered,
.table-bordered th,
.table-bordered td {
  border-color: var(--darkmode-color3);
}

.kt-widget.kt-widget--user-profile-1 .kt-widget__body .kt-widget__content .kt-widget__info .kt-widget__label {
  color: var(--darkmode-color8);
}

.kt-widget.kt-widget--user-profile-1 .kt-widget__head .kt-widget__content .kt-widget__section .kt-widget__username {
  color: var(--darkmode-color8);
}

.kt-portlet .kt-portlet__head .kt-portlet__head-label .kt-portlet__head-title {
  color: var(--darkmode-color8);
}

.kt-widget.kt-widget--user-profile-3 .kt-widget__top .kt-widget__content .kt-widget__head .kt-widget__title {
  color: var(--darkmode-color8);
}

.kt-widget.kt-widget--user-profile-1 .kt-widget__body .kt-widget__items .kt-widget__item.kt-widget__item--active {
  background-color: var(--darkmode-color1);
}

.kt-widget.kt-widget--user-profile-1 .kt-widget__body .kt-widget__items .kt-widget__item:hover {
  background: var(--darkmode-color1);
}

.kt-widget16 .kt-widget16__items .kt-widget16__item {
  border-color: var(--darkmode-color3);
}

.table {
  color: var(--darkmode-color8);
}

.table-hover tbody tr:hover {
  background-color: var(--darkmode-color1);
}

.table thead th,
.table tbody td {
  border-top-color: var(--darkmode-color3);
}

.table tbody + tbody {
  border-top-color: var(--darkmode-color1);
}

table a {
  color: var(--darkmode-color8);
}

.dataTables_wrapper .dataTable th,
.dataTables_wrapper .dataTable td {
  color: var(--darkmode-color8);
}

.alert.alert-light {
  color: var(--darkmode-color8);
  background-color: var(--darkmode-color2);
  border-color: var(--darkmode-color2);
}

.alert.alert-light .alert-text {
  color: var(--darkmode-color8);
}

.form-control {
  color: var(--darkmode-color8) !important;
  background-color: var(--darkmode-color1) !important;
  border-color: var(--darkmode-color3) !important;
}

.form-control::placeholder {
  color: var(--darkmode-color4) !important;
}

.form-control:focus {
  color: var(--darkmode-color9) !important;
  border-color: #669cf7 !important;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: var(--darkmode-color2) !important;
}

.input-group-text {
  background-color: var(--darkmode-color2);
  border-color: var(--darkmode-color3);
}

.disabled {
  background-color: var(--darkmode-color2) !important;
}

.accordion.accordion-light .card {
  border-color: var(--darkmode-color3);
}

.kt-switch input:empty ~ span:before {
  background-color: var(--darkmode-color1);
}

.kt-switch input:empty ~ span:after {
  color: var(--darkmode-color9);
  background-color: var(--darkmode-color3);
}

.kt-switch.kt-switch--outline.kt-switch--success input:empty ~ span:before {
  border-width: 1px;
  border-color: var(--darkmode-color3);
  background-color: var(--darkmode-color1);
}

.show > .btn.btn-clean,
.btn.btn-clean.active,
.btn.btn-clean:active,
.btn.btn-clean:hover {
  background: var(--darkmode-color3);
}

.bg-white {
  background-color: var(--darkmode-color1) !important;
}

.noUi-target {
  border-color: var(--darkmode-color3);
  background-color: var(--darkmode-color1);
}

.page-link {
  background-color: var(--darkmode-color1);
}

.page-item.disabled .page-link {
  background-color: var(--darkmode-color2);
}

.dataTables_wrapper .pagination .page-item.previous > .page-link,
.dataTables_wrapper .pagination .page-item.next > .page-link,
.dataTables_wrapper .pagination .page-item.last > .page-link,
.dataTables_wrapper .pagination .page-item.first > .page-link {
  background: var(--darkmode-color1);
}

.progress {
  background-color: var(--darkmode-color1);
}

.kt-portlet .kt-portlet__foot {
  border-top-color:  var(--darkmode-color1);
}

.kt-head.kt-head--skin-light .kt-head__title {
  color: var(--darkmode-color9);
}

.modal-content {
  background-color: var(--darkmode-color2);
  border-color: var(--darkmode-color1);
}

.modal-header {
  border-color: var(--darkmode-color1);
}

.modal-footer {
  border-color: var(--darkmode-color1);
}

.modal .modal-content .modal-header .modal-title {
  color: var(--darkmode-color8);
}

.dropdown-menu {
  color: var(--darkmode-color8);
  background-color: var(--darkmode-color1);
  border: 1px solid var(--darkmode-color3) !important;
}

.dropdown-menu .dropdown-divider {
  border-top-color: var(--darkmode-color3);
}

.dropdown-item:hover,
.dropdown-item:focus {
  color: var(--darkmode-color9);
  background-color: var(--darkmode-color3);
}

.kt-notification {
  border-color: var(--darkmode-color3);
}

.kt-notification .kt-notification__item {
  border-color: var(--darkmode-color3);
}

.kt-notification .kt-notification__item:hover {
  background-color: var(--darkmode-color1);
}

.kt-notification .kt-notification__item .kt-notification__item-details .kt-notification__item-title {
  color: var(--darkmode-color9);
}

.jstree-default .jstree-anchor {
  color: var(--darkmode-color8);
}

.jstree-default .jstree-clicked {
  background: var(--darkmode-color1);
  color: var(--darkmode-color9);
}

.jstree-default .jstree-hovered {
  background: var(--darkmode-color1);
  color: var(--darkmode-color9);
}

.kt-heading {
  color: var(--darkmode-color8);
}

.kt-widget1 .kt-widget1__item {
  border-color: var(--darkmode-color3);
}

.fc-unthemed th,
.fc-unthemed td,
.fc-unthemed thead,
.fc-unthemed tbody,
.fc-unthemed .fc-divider,
.fc-unthemed .fc-row,
.fc-unthemed .fc-content,
.fc-unthemed .fc-popover,
.fc-unthemed .fc-list-view,
.fc-unthemed .fc-list-heading td {
  border-color: var(--darkmode-color3);
}

.fc-unthemed td.fc-today {
  background: var(--darkmode-color1);
}

.fc-unthemed .fc-event, .fc-unthemed .fc-event-dot {
  background: var(--darkmode-color1);
  border-color: var(--darkmode-color3);
}

.fc-unthemed .fc-divider,
.fc-unthemed .fc-popover .fc-header,
.fc-unthemed .fc-list-heading td {
  background: var(--darkmode-color1);
}

.fc-unthemed .fc-list-heading td {
  border-color: var(--darkmode-color3);
}

.fc-unthemed .fc-list-item .fc-event-dot {
  background: var(--darkmode-color1);
  border-color: var(--darkmode-color3);
}

.fc-unthemed .fc-event.fc-start .fc-content:before,
.fc-unthemed .fc-event-dot.fc-start .fc-content:before {
  background: var(--darkmode-color3);
}

.fc-unthemed .fc-toolbar .fc-button {
  border-color: var(--darkmode-color3);
}

.fc-unthemed .fc-toolbar .fc-button:hover {
  background-color: var(--darkmode-color1);
  border-color: var(--darkmode-color4);
}

.btn-secondary {
  border-color: var(--darkmode-color3);
}

.show > .btn-secondary.dropdown-toggle,
.btn-secondary:focus,
.btn-secondary.active,
.btn-secondary:active,
.btn-secondary:hover {
  border-color: var(--darkmode-color3);
  background-color: var(--darkmode-color1);
}



/* Surcharge widget.css */

.plan-active-menu {
  background-color: var(--darkmode-color1);
}

.zone_detail_content .kt-notification {
  border: solid 1px var(--darkmode-color3);
}



/* Surcharge select2.css */

.select2-dropdown {
  background-color: var(--darkmode-color1);
  border-color: var(--darkmode-color3);
}

.select2-container--default .select2-selection--single {
  background-color: var(--darkmode-color1);
  border-color: var(--darkmode-color3);
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: var(--darkmode-color8);
}

.select2-container--default .select2-results__option[aria-selected=true] {
  background: var(--darkmode-color3);
}

.select2-container--default .select2-results__option.select2-results__option--highlighted {
  background-color: var(--darkmode-color3);
  color: var(--darkmode-color9);
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border-color: var(--darkmode-color3);
}

.select2-container--default .select2-selection--multiple,
.select2-container--default .select2-selection--single {
  border-color: var(--darkmode-color3);
}

.select2-container--default .select2-selection--multiple {
  background-color: var(--darkmode-color1);
}

.select2-container--default .select2-dropdown {
  border-color: var(--darkmode-color3);
}

.select2-container--default.select2-container--disabled .select2-selection--multiple,
.select2-container--default.select2-container--disabled .select2-selection--single {
  background-color: var(--darkmode-color2);
  border-color: var(--darkmode-color3);
}



/* Surcharge dropzone.css */

.dropzone {
  background: var(--darkmode-color1);
  border: 1px solid var(--darkmode-color3);
}



/* Surcharge add.css */

.kt-wizard-v1.kt-wizard-v1--white .kt-wizard-v1__wrapper {
  background-color: var(--darkmode-color2);
}

.kalitics-table tbody tr:nth-of-type(odd) {
    background-color: #2b2b2b;
}
.kalitics-table th, .kalitics-table td {
    border: 1px solid #444444;
}
.kalitics-table tbody tr:hover {
    background-color: #454546;
}
.kalitics-table {
    border: 1px solid #545454;
}
